#inicio {
  background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

#inicio span {
  border: none;
  display: block;
  margin-bottom: 7%;
  border-radius: 2px;
}

#inicio span p {
  margin-left: 5%;
  color: white;
  font-weight: normal;
  font-size: 1.8em;
}
