/*=============================================
=            Responsive Layout                =
=============================================*/

@media screen and (min-width:1950px) {
  nav {
    font-size: 1.25rem;
  }

  #inicio h1 {
    font-size: 4.75rem;
  }

  #inicio h2 {
    font-size: 4.438rem;
  }

  #inicio span p {
    font-size: 1.25rem;
  }

  #projeto h3,
  .h3-title {
    font-size: 3.375rem;
  }

  #projeto p,
  .p-title {
    font-size: 3.0625rem;
  }

  .projeto-module h3,
  .h3-estilization {
    font-size: 4.125rem;
  }

  .projeto-module h4,
  .h4-estilization {
    font-size: 3.8125rem;
  }

  .projeto-module span p,
  .p-estilization {
    font-size: 1.25rem;
  }

  .projeto-module .left-content {
    padding: 1rem;
  }

  #competicao {
    padding-top: 8.5rem;
    padding-bottom: 4rem;
  }

  #equipe {
    box-shadow: 15px 30px 99px rgba(0, 0, 0, 0.16);
  }

  #equipe .shape {
    width: 0;
  }

  #contato {
    padding-bottom: 5rem;
  }

  #contato .h5-estilization {
    font-size: 2.5rem;
  }

  #ingressos .container-fluid .shape {
    width: 0;
  }

  #ingressos .row {
    padding-top: 76px;
    padding-bottom: 160px;
  }

  #ingressos .h3-estilization,
  #ingressos .h4-estilization {
    font-size: 5.25rem;
  }

  footer h3 {
    font-size: 2rem !important;
  }
}

@media screen and (max-width:1600px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width:1000px) {}

@media screen and (max-width:993px) {
  #inicio {
    padding-top: 6rem;
  }
}

@media screen and (max-width:991px) {
  .projeto-module .left-content {
    border-top-right-radius: 89px;
    border-bottom-left-radius: 0;
  }

  .projeto-module .right-content {
    border-bottom-left-radius: 89px;
    border-top-right-radius: 0;
  }

  #competicao {
    padding-top: 22rem;
    margin: 0 3%;
  }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 767px) {
  #competicao {
    padding-top: 13rem;
    margin: 0 3%;
  }

  #galeria .img-sup-esq {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
  }

  #galeria .img-inf-esq {
    border-bottom-left-radius: 0;
  }

  #galeria .img-sup-dir {
    border-top-right-radius: 0;
  }

  #galeria .img-inf-dir {
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  #galeria .item-sup-dir {
    height: 50%;
  }

  #galeria .item-sup-esq {
    height: 50%;
  }

  #contato .row {
    padding-top: 470px;
  }

  #contato .contato-detalhe {
    padding-bottom: 2rem;
  }

  #contato .pt-4 {
    padding-top: 0 !important;
  }

  #contato .h4-estilization {
    text-align: center;
    padding-bottom: 2rem;
  }

  #contato .h5-estilization {
    text-align: center;
  }

  #contato .p-estilization {
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 1.8rem;
    word-wrap: break-word;
  }

  #patrocinadores .container-fluid {
    max-width: 95%;
  }

  footer {
    padding-top: 130px;
  }

  footer .left-content {
    text-align: center;
  }


  footer .right-content {
    text-align: center !important;
  }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 575px) {
  #projeto {
    max-height: 165rem;
  }

  footer .footer-title,
  footer .footer-content {
    text-align: center;
    max-width: 100%;
    margin: auto;
  }

  footer .footer-title {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  footer h3 {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width:320px) {}