/*=============================================
=            Responsive Layout                =
=============================================*/

@media screen and (min-width:1950px) {
    nav {
        font-size: 1.25rem;
    }
    #inicio h1 {
        font-size: 4.75rem;
    }
    #inicio h2 {
        font-size: 4.438rem;
    }
    #inicio span p {
        font-size: 1.25rem;
    }
    #projeto h3 {
        font-size: 3.375rem;
    }
    #projeto p {
        font-size: 3.0625rem;
    }
    .projeto-module h3,
    .h3-estilization {
        font-size: 4.125rem;
    }
    .projeto-module h4,
    .h4-estilization {
        font-size: 3.8125rem;
    }
    .projeto-module span p,
    .p-estilization {
        font-size: 1.25rem;
    }
    .projeto-module .left-content {
        padding: 1rem;
    }
    #competicao {
        padding-top: 6.5rem;
    }
}

@media screen and (max-width:1600px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width:1000px) {}

@media screen and (max-width:993px) {
    #inicio {
        padding-top: 6rem;
    }
}

@media screen and (max-width:991px) {
    .projeto-module .left-content {
        border-top-right-radius: 89px;
        border-bottom-left-radius: 0;
    }
    .projeto-module .right-content {
        border-bottom-left-radius: 89px;
        border-top-right-radius: 0;
    }
    #competicao {
        padding-top: 22rem;
        margin: 0 3%;
    }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 767px) {
    #competicao {
        padding-top: 13rem;
        margin: 0 3%;
    }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 575px) {
    #projeto {
        max-height: 165rem;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width:320px) {}