  /* TeamTaculus - Robocup */

  @charset "UTF-8";
  body {
      max-width: 100vw;
      margin: auto;
      font-family: 'Raleway', sans-serif;
  }

  .container {
      max-width: 93.75rem;
  }

  footer {
      text-align: center;
  }
  /*=============================================
  =            Navbar - Estilização            =
  =============================================*/

  .header-black {
    background-color: #000;
    transition: 0.75s;
  }

  .header-transparent {
    background-color: transparent;
    transition: 0.5s;
  }

  nav {
    height: 5.5rem;
    /* font-size: 1.25rem; */
    font-size: calc(0.9rem + 0.2vw);
    /* font-size: calc(1.25rem + 0.1vw); */
  }

  nav .logo {
    transition: all 0.5s linear;
  }

  nav .logo:hover {
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
  }

  nav ul .nav-item .nav-link {
    color: white;
    margin: 0 0.938rem;
    margin-top: 3.5px;
  }

  nav ul .nav-item .nav-link.nav-effect {
    border-bottom: 1px solid transparent;
  }

  nav ul .nav-item a.nav-effect::after {
    content: '';
    display: block;
    width: auto;
    margin-top: 3.5px;
    height: 2px;
    width: 0px;
    background-color: transparent;
    transition: all ease-in-out 0.5s;
  }

  nav ul .nav-item a.nav-effect:hover::after {
    background-color: #16D0D3;
    width: 100%;
    transition: 0.5s;
  }

  nav ul .nav-item .botao-nav {
      color: #1F143F;
      background-color: white;
      width: 11.875rem;
      margin: auto;
      margin-top: 5px;
      border-radius: 26px;
  }
  /*=============================================
  =            Inicio - Estilização            =
  =============================================*/

  #inicio {
      background-image: url(../img/inicio/Background.png);
      background-position: top center;
      background-size: cover;
      background-attachment: fixed;
      height: auto;
  }

  #inicio .row {
      min-height: 100vh;
      align-items: center;
  }

  #inicio h1 {
      /* font-size: 4.75rem; */
      color: white;
      font-weight: bolder;
      font-size: calc(1.525rem + 3.3vw);
  }

  #inicio h2 {
      /* font-size: 4.438rem; */
      color: white;
      font-weight: lighter;
      font-size: calc(1.525rem + 3.3vw);
  }

  #inicio span {
      border-left: 3px solid #16D0D3;
      display: block;
      margin-bottom: 7%;
      border-radius: 2px;
  }

  #inicio span p {
      /* font-size: 1.25rem; */
      margin-left: 5%;
      color: white;
      font-weight: normal;
      font-size: calc(1rem + 0.2vw);
  }

  #inicio button {
    background: url('../img/inicio/bg-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 1.25rem;
    padding: 15px 75px;
    border: 1px solid transparent;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    outline: none;
    transition: color 0.3s;
  }

  #inicio .btn-gradient:hover {
    background: url('../img/inicio/bg-button-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 1);
  }

  .button-estilization {
      text-decoration: none;
      color: white;
      font-size: 1.25rem;
      border-radius: 26px;
      padding: 1.5% 7%;
      text-transform: uppercase;
      /* Colocar gradient */
      border: 1px solid #16D0D3;
  }

  #inicio img {
      max-width: 100%;
  }
  /*=============================================
  =            Projeto - Estilização            =
  =============================================*/

  #projeto {
      background-color: #F1F1F1;
      max-height: 120rem;
  }

  #projeto .row {
      padding-top: 5.625rem;
      text-align: center;
      padding-bottom: 19.375rem;
  }

  #projeto hr, .hr-title {
      /* width: 78px; */
      max-width: 3rem;
      height: 4px;
      background-color: #15D2D5;
      margin-bottom: 30px;
      border-radius: 26px;
  }

  #projeto h3, .h3-title {
      font-weight: bolder;
      /* font-size: 3.375rem; */
      font-size: calc(1.05rem + 2vw);
      margin-bottom: 0;
      color: #41516A;
      text-transform: uppercase;
      text-align: center;
  }

  #projeto p, .p-title {
      font-weight: normal;
      /* font-size: 3.0625rem; */
      font-size: calc(1rem + 1.7vw);
      margin-bottom: 2.5rem;
      color: #41516A;
      text-align: center;
  }

  #projeto .projeto-item {
      height: 430px;
  }

  #projeto ul {
      margin-top: 10%;
      list-style-type: none;
      margin-bottom: 400px;
      padding-inline-start: 0;
  }

  #projeto ul li {
      max-width: 250px;
      margin: auto 15px;
      display: inline-block;
  }

  #projeto ul li i {
      background-color: white;
      border-radius: 50px;
      height: 100px;
      width: 100px;
      margin-bottom: 30px;
      box-shadow: 3.5px 3.5px 15px 0px rgba(25, 28, 3, 0.25);
      font-size: 30px;
      line-height: 100px;
      vertical-align: auto;
  }

  #projeto ul li h4 {
      font-weight: bolder;
      font-size: 27px;
      color: #40546D;
      margin-bottom: 50px;
  }

  #projeto ul li p {
      color: #40546D;
      font-size: 21px;
      font-weight: lighter;
      margin: auto;
  }

  /*=============================================
  =        Projeto Module - Estilização         =
  =============================================*/

  .projeto-module {
      margin-top: -270px !important;
      max-width: 1700px;
      margin: auto;
      border-radius: 89px;
      height: 550px;
      z-index: 99;
  }

  .projeto-module .row {
      height: 550px;
      max-width: 1700px;
      margin: auto;
  }

  .projeto-module .left-content {
      background-image: url(../img/projeto-module/left-content.jpg);
      background-position: center;
      background-size: cover;
      filter: grayscale(100%);
      border-top-left-radius: 89px;
      border-bottom-left-radius: 89px;
      box-shadow: 3px -15px 30px rgba(0, 0, 0, 0.16);
      padding: calc(3rem + 12vw);
  }

  .projeto-module .left-content iframe {
      width: 128%;
      height: 100%;
      margin: auto;
      border-top-left-radius: 89px;
      border-bottom-left-radius: 89px;
  }

  .projeto-module .right-content {
      background-color: #6220D9;
      background-image: url(../img/projeto-module/tentaculo.svg);
      background-size: cover;
      border-top-right-radius: 89px;
      border-bottom-right-radius: 89px;
      box-shadow: 3px -15px 30px rgba(0, 0, 0, 0.16);
  }

  .projeto-module .internal-content {
      /* margin: 7rem; */
      /* margin: 18% 10%; */
      margin: 6.5rem 9%;
  }

  .projeto-module h3,
  .h3-estilization {
      /* font-size: 4.125rem; */
      font-size: calc(1.1rem + 2.6vw);
      color: white;
      font-weight: bolder;
  }

  .projeto-module h4,
  .h4-estilization {
      /* font-size: 3.8125rem; */
      font-size: calc(1.1rem + 2.3vw);
      color: white;
      font-weight: lighter;
  }

  .projeto-module span,
  .span-estilization {
      border-left: 3px solid #16D0D3;
      display: block;
      max-width: 500px;
      margin-bottom: 7%;
      border-radius: 2px;
  }

  .projeto-module span p,
  .p-estilization {
      text-decoration: none;
      /* font-size: 1.25rem; */
      font-size: calc(1rem + 0.2vw);
      margin-left: 30px;
      color: white;
      font-weight: normal;
  }

  /*=============================================
  =            Competição - Estilização         =
  =============================================*/

  #competicao {
      background-color: #FFFFFF;
      padding-top: 8rem;
  }

  #competicao .internal-content,
  #competicao img {
      margin: 0 auto;
  }

  #competicao h3,
  #competicao h4,
  #competicao span p,
  #competicao .btn-gradient {
      color: #3F5770;
  }

  #competicao img {
      max-width: 100%;
  }

  #competicao button {
    background: url('../img/inicio/bg-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 1.25rem;
    color: #313149;
    padding: 15px 75px;
    border: 1px solid transparent;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    transition: color 0.1s;
  }

  #competicao .btn-gradient:hover {
    background: url('../img/inicio/bg-button-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
  }


  /*=============================================
  =            Equipe - Estilização             =
  =============================================*/

  #equipe {
    background-color: #ccc;
    padding-bottom: 120px;
    background-image: url(../img/equipe/tentaculo.svg);
    background-size: cover;
    background-position: bottom;
  }

  #equipe .container-shape{
    margin: 0;
    padding: 0;
  }

  #equipe .shape{
    width: 100%;
    background-clip: content-box;
    }

  #equipe .internal-content {
    padding-top: 50px;
  }

  #equipe .p-title{
    margin-bottom:  2.5rem;
  }

  .slick-carousel .container-fluid {
    margin-top: 130px;
  }

  .slick-card-item {
    padding-top: 75px;
    margin-bottom: 25px;
    outline: none;
  }

  .slick-card-body {
    background-color: #fff;
    height: 380px;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 35px;
    position: relative;
  }

  .slick-slide:not(.slick-active) .slick-card-body {
    margin-top: 30px;
    height: 350px;
    width: 285px;
  }

  .slick-card-image,
  .slick-card-image img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
  }

  .slick-card-image img {
    -webkit-box-shadow: 0px 20px 45px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 20px 45px -15px rgba(0,0,0,0.5);
    box-shadow: 0px 20px 45px -15px rgba(0,0,0,0.5);
  }

  .slick-card-image {
    position: absolute;
    top: -50px;
    left: 100px;
  }

  .slick-card-title {
    margin-top: 100px;
    padding-bottom: 0px;
    height: auto;
  }

  .slick-card-title h3 {
    font-weight: bolder;
    font-size: 30px;
    color: #40546D;
  }

  .slick-card-title p {
    font-size: 24px;
    color: #40546D;
    margin-bottom: 2px;
  }

  #equipe hr {
    margin-top: 0px;
    max-width: 3rem;
    height: 3px;
    background-color: #15D2D5;
    border-radius: 26px;
  }

  .slick-card-description {
    display: flex;
    justify-content: center;
  }

  .slick-card-description p {
    text-align: center;
    padding: 7px 35px;
    font-size: 14px;
    color: #40546D;
  }
